body{
    margin: 0;
}

header {
    background-color: #FAB8AA;
    margin: 0;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    background-color:#F08A4C;
    text-align: center;
    padding: 2%;
    width: 200px;
    height: 140px;
    color: white;
    margin-left: 500px;
 
}
.nav-container {
    float: right;
    margin-top: 10%;
    margin-left: -15%;
}

.nav-container a {
    color: orange;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    border-radius: 8px;
    padding: 6px 10px;
    margin: 20px;
}



h1 {
    font-family: 'Short Stack', cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h3 {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #F67562;
    font-size: 30px;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 17px;
}

h5 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

h6{
    font-family
}

.news-1-title {
    font-family: 'Libre Baskerville', serif;
    color: #d3563c;
    font-size: 30px;
}

p {
    margin-top: 1em;
    margin-bottom: -1.3em;
}

.news-container {
    display: flex;
    margin: 4% 0 2% 26%;
    height: 700px;
}

.news-1-container {
    width: 600px;
}

.news-2-title {
    text-align: center;
    font-size: 25px;
    font-family: 'Short Stack', cursive;
    color: orange;
    margin: 5% 0 0 0;
}

.news-2-container {
    background: #ffe7e2;
    border: solid 3px orange;
    width: 330px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    color: orange;
    font-weight: 500;
    font-size: 20px;
    margin: 6% 0 0 12%;
}
.news-2a-container {
    margin: 6% 0 0 30%;
}

.news-2-container img {
    width: 62%;
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 4% 0 0 70%;
}

footer {
    text-align: center;
    background-color: #FAB8AA;
    margin-bottom: 50px;;
    height: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
}

.footer-social-container {
    background-color: #f3927d;
    width: 140px;
    height: 50px;
    margin: 2.5% 0 0 5%;

}

.footer-social-container ul{
    padding-left: 6%;

}

.footer-social-container li{
    display: inline-block;
}

